<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>

  <body>
    <%- include('partials/header')%>

    <h1>Homepage</h1>

    <!-- Form only visible to members, else display notification -->
    <%- include('partials/errors')%> <% if (locals.currentUser &&
    currentUser.is_member) { %>

    <form action="/newpost" method="post" class="padded">
      <h2>New post:</h2>
      <label for="postTitle">Title:</label>
      <input type="text" name="postTitle" id="postTitle" />
      <label for="postBody">Body:</label>
      <textarea name="postBody" id="postBody"></textarea>
      <button>Submit</button>
    </form>

    <%} else { %>
    <h2>Become a member, see "hoo" is here, and join the fun!</h2>
    <%}%>

    <ul>
      <% if (locals.posts) { %> <% posts.forEach((post) => { %>
      <li class="postLI padded">
        <% if (locals.currentUser && ((currentUser.id == post.user_id) ||
        (currentUser.is_admin))) { %>
        <form action="/delete/<%= post.id %>" method="post">
          <button>Delete</button>
        </form>
        <%} %> <% if (locals.currentUser && currentUser.is_member) { %>
        <p><%= post.username %></p>
        <p><%= post.timestamp %></p>
        <%} else {%>
        <p>Member writes:</p>
        <%}%>

        <p><%= post.title %></p>
        <p><%= post.body %></p>
      </li>
      <%})%> <%}%>
      <h3>End of post history</h3>
    </ul>
  </body>
</html>
