<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>

  <body>
    <%- include('partials/header')%>
    <div class="memberDiv">
      <h1 class="padded">Membership</h1>

      <p class="padded">Username: <%= currentUser.username %></p>

      <% if (currentUser.is_member && currentUser.is_admin) { %>
      <p class="padded">Status: Admin</p>

      <% } else if (currentUser.is_member) { %>
      <p class="padded">Status: Verified</p>
      <% } else { %>
      <p class="padded">Status: Unverified</p>
      <% } %>
    </div>

    <% if (currentUser.is_member && !currentUser.is_admin) { %>
    <form action="/membership" method="post" class="padded">
      <h2>Upgrade to Admin</h2>
      <label for="adminPassword">Admin password:</label>
      <% if (locals.error) { %>
      <p class="errorMsg"><%= error %></p>
      <% } %>
      <input type="password" name="adminPassword" id="adminPassword" />
      <button class="blueButton">Submit</button>
    </form>

    <% } else if (!currentUser.is_member) { %>

    <form action="/membership" method="post" class="padded">
      <h2>Upgrade to Verified</h2>

      <label for="verifyPassword">Verification Password:</label>
      <% if (locals.error) { %>
      <p class="errorMsg"><%= error %></p>
      <% } %>
      <input type="password" name="verifyPassword" id="verifyPassword" />
      <button class="blueButton">Submit</button>
    </form>
    <% } %>
  </body>
</html>
